<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotation config (it's just namespace which holds this BPP) -->
    <context:annotation-config/>
    <!-- OR -->
    <!--    <context:component-scan base-package="org.example"/>-->
    <!-- OR -->
    <!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->

    <bean class="org.example.DeprecationHandlerBeanFactoryPostProcessor"/>
    <bean class="org.example.PostProxyInvokerContextListener"/>
    <bean class="org.example.ProfilingAnnotationBeanPostProcessor"/>
    <bean class="org.example.InjectRandomIntAnnotationBeanPostProcessor"/>

    <bean class="org.example.TerminatorQuoter" id="terminatorQuoter">
        <property name="message" value="I'll be back"/>
    </bean>
</beans>
